body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pale-white);
  color: var(--text);
}

:root {
  --pale-white: #f1f4f9;
  --main-pink: #e9559d;
  --main-blue: #3b67c9;
  --pale-blue: #74acf4;
  --main-gray: #7c7c7c;
  --pale-gray: #b4b4b4;
  --dark-gray: #384b6c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  all: unset;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  transition: transform 0.3s ease;
}
